$colour-body: #B5B5B5;
$colour-accent: #fff;
$colour-header: #2B2B2B;
$colour-btn: #2F3B40;
$colour-login-bg: #000000;
$colour-login: #BFB896;
$colour-register-bg: #E5BD9A;
$colour-register: #002F5C;
$colour-heading-article: #838585;
$colour-newsletter-bg: #3D3D3D;
$colour-input: rgb(105, 92, 82);
$colour-footer: #1D1D1D;